/*chamadas base*/
@font-face {
    font-family: 'icones';
    src: url(../projeto1/icones.ttf);
}

:root {
    --fonte-primaria: 'Lato';
    --fonte-secundaria: 'icones';
    --cor-primaria: #E5E5E5;
    --cor-secundaria: #E0E0E0;
    --cor-terciaria: #333333;
}

body {
    font-family: 'Lato', 'icones', sans-serif;
    color: var(--cor-primaria);
    margin: 0;
}

/*cabeçalho contendo logo, título da página e menu/acesso ao menu*/
.cabecalho {
    display: flex;
    align-content: center;
    background-color: var(--cor-secundaria);
    padding: 0px 22px;
}

.cabecalho_menu_desktop {
    display: none;
}

.cabecalho_conteudo {
    height: 60px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_titulo {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-terciaria);
}

.cabecalho_menu i::before {
    content: "\e904";
    font-size: 24px;
    color: var(--cor-terciaria);
}

/*menu lateral para mobile/tablet*/
.menu_lateral {
    font-family: var(--fonte-primaria) ;
    display: none;
    position: absolute;
    top: 0;
    
    transition: .25s;
}

.menu_lateral_ativo {
    right: 0;
    transition: .25s;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--cor-terciaria);
    
    height: 100%;
    width: 85vw;
}

.menu_lateral_link_ativo {
    width: 85vw;    
    background-color: #C4C4C4;
    color: #333333;
    overflow: hidden;
}

.menu_lateral_sair {
    align-items: left;
    padding: 20px 75vw 25px 20px;
}

.menu_lateral_link {
    text-align: right;
    font-size: 16px;
    width: 75vw;
    padding: 10px 5vw;
}

/*adaptação de menu lateral para tablet*/
@media screen and (min-width: 768px) {
    .menu_lateral_ativo {
        width: 35vw;
    }

    .menu_lateral_link_ativo {
        width: 25vw;
    }

    .menu_lateral_sair {
        padding-right: 30vw;
    }
}

/* formulário de compra, inserção de produtos e valores*/
.formulario_compra {
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
    margin: 26px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.formulario_titulo {
    display: none;
}

.formulario_compra_titulos {
    margin-bottom: 5px;
}

.formulario_compra_inputs {
    height: 30px;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0 2px;
}

.formulario_compra_inputs::placeholder {
    padding-left: 5px;
}

.formulario_compra_inputs_compravenda {
    height: 32px;
}

.formulario_compra_botao {
    height: 32px;
    background-color: #333333;
    color: var(--cor-primaria);
    border-radius: 4px;
}

/*lista de extrato com produtos e valores inseridos*/
.extrato {
    font-family: var(--fonte-primaria);
    border-top: 1px solid #979797;
    padding-top: 40px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    display: flex;
    flex-direction: column;
}

.extrato_titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.extrato_subtitulos {
    font-size: 14px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #979797;
    padding: 0 10px 0.5em 10%;
}

.extrato_subtitulos_elemento, .extrato_resultados_elemento{
    margin: 0;
}

.extrato_conteudo {
    display: flex;
    flex-direction: column;
}

.extrato_linha {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    border-bottom: 1px solid #979797;
    padding: 0.5em 10px 0.5em 0;
}

.extrato_linha_operador {
    text-align: center;
    margin: 0;
}

.extrato_linha_produto {
    margin: 0;
}

.extrato_linha_valor {
    text-align: end;
    margin: 0;
}

.extrato_resultados {
    font-size: 14px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    
    margin-top: 3px;
    border-top: 1px solid #979797;
    padding: 0.5em 10px 0.3em 10%;
}

.extrato_saldo {
    font-size: 10px;
    font-weight: 400;
    text-align: end;
    padding-right: 10px;
    margin: 0;
}

/*adaptação de extrato eformulário de compra para tablet*/
@media screen and (min-width: 768px) {
    .formulario_compra {
        border: 1px solid #979797;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 15px 32px 1fr;
        column-gap: 20px;
        row-gap: 10px;
        padding: 20px;
    }

    .formulario_titulo {
        display: block;
        font-size: 18px;
        font-weight: 700;
        justify-self: center;
        padding-bottom: 20px;
        grid-column: 1 / span 3;
        text-align: center;
    }

    .formulario_compra_titulos {
        grid-row: 2;
    }

    .formulario_compra_inputs {
        grid-row: 3;
    }

    .formulario_compra_botao {
        grid-row: 4;
        grid-column: 1 / span 3;
        justify-self: end;
        width: 200px;
        margin-top: 20px;
    }

    .extrato {
        border: 0;
        padding-top: 19px;
    }

    .extrato_subtitulos {
        padding-left:5%;
    }

    .extrato_linha {
        grid-template-columns: 5% 65% 30%;
    }

    .extrato_resultados {
        padding-left: 5%;
    }
}

/*adaptação para desktop*/
@media screen and (min-width: 1024px) {
    .cabecalho_conteudo {
        height: 80px;
    }

    .cabecalho_titulo {
        flex-grow: 1;
        padding-left: 20px;
    }
    
    .cabecalho_menu {
        display: none;
    }

    .cabecalho_menu_desktop {
        display: flex;
        flex-direction: row;
        color: #333333;
        background-color: #ffffff;
        padding: 10px 10px;
    }

    .menu_desktop_link {
        font-weight: 600;
        padding: 0 10px;
    }

    .linha_div {
        border-right: 1px solid #333333;
    }

    .menu_lateral_link {
        padding: 0;
        font-weight: 600;
    }

    .pagina_conteudo {
        display: flex;
        max-width: 1100px;
        padding: 0 22px;
        margin: 0 auto;
        justify-content: space-between;
        gap: 20px;
    }

    .formulario_compra {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 50px 0 0 0;
        gap: 0;
    }

    .formulario_compra_inputs:not(.formulario_compra_inputs_compravenda) {
        height: 30px;
    }

    .formulario_compra_botao {
        width: 100%;
        padding: 7.5px 0;
        height: auto;
    }

    .extrato {
        width: 700px;
        padding-top: 70px;
        margin: 0;
    }
}